@model FamousQuoteQuiz.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>
    </dl>
</div>
<div>
    @if (!@Model.isDisabled)
    {
        <form asp-action="Disable">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Disable" class="btn btn-primary" />
        </form>
    }

    @if (@Model.isDisabled)
    {
        <form asp-action="Enable">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Enable" class="btn btn-primary" />
        </form>
    }
    <p> </p>
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
